<h1>My Imports</h1>

<!-- Link to upload a new CSV file -->
<div style="display:flex; justify-content: space-evenly">
<%= link_to "Upload new CSV file", new_import_path, class: "btn btn-primary" %>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
</div>
<!-- Table of import history -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Uploaded At</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.id %></td>
        <td><%= import.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= import.status.humanize %></td>
        <td><%= link_to "View", import_path(import), class: "btn btn-sm btn-outline-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Pagination controls -->
<%= paginate @imports %>
