<h1>Upload CSV File</h1>

<!-- Form to upload a CSV file -->
<%= form_with model: @import, url: imports_path, local: true, multipart: true do |form| %>
  <div>
    <!-- File input label -->
    <%= form.label :file, "Choose your CSV file" %><br>
    
    <!-- File input field -->
    <%= form.file_field :file %>
  </div>

  <br>

  <!-- Submit button to upload and process -->
  <%= form.submit "Upload and Process", class: "btn btn-primary" %>

  <!-- Link to go back to the list of previous imports -->
  <%= link_to 'Back to Import List', imports_path, class: 'btn btn-secondary' %>
<% end %>
